<head>
  <title>Welcome!!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>

  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Saving the World in Six Hours</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user">Daily Diary</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <div class="jumbotron text-center">
    <h1>Register Here</h1>
    <p>We're happy to have you here!</p> 
  </div>

  <div class="container" style="top:100px">
    <div class="row">
      <div class="col-md-8">
        <h3>How we hope to help</h3>
        <p>Our goal today is to Save The World by connecting you and your loved ones around you. Here at STWISH,
         we allow a user to maintain a small, minimal-effort journal about their health, habits, and happiness.
         What really makes STWISH special is not only the ability of your approved loved ones to see your personal
         updates, but also to be notified when your journal entries imply a difficult time for you. They'll be there, ready to help you before you even have to ask.</p>
       </br>


     </div>
     <div class="col-sm-4">
      <h3>Get Started</h3>        

      <form method="post">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Username" name="username"><br>
      </div>
      <br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Password" name="password"><br>
      </div>
      <br>
      <input type="submit" class="btn btn-primary" value="Register">
    </form>

  </div>
</div>
</div>

