<!DOCTYPE html>
<!-- users tracking data buttons-->

<!-- credit for icons goes to https://dribbble.com/shots/2624121-Mood-Icons -->
{% if changedVal %}
	<h2>Updated</h2>
{% endif %}
<head> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="mystyle.css">

	<title> Profile </title>
</head>

<body>

	<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Saving the World in Six Hours</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
       		<a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user">Daily Diary</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>

	<div class="container" style="top:100px">
		<!-- credit for icons goes to https://dribbble.com/shots/2624121-Mood-Icons -->
		{% if changedVal %}
		<h2>Updated</h2>
		{% endif %}
		<strong>Overall, how is your mood?</strong>
		<!-- not sure if this form is correct-->


		<form method="post">
			<table style="width:50%">
				<tr>
					<td><strong>Overall, how is your mood?</strong></td>
					<td><img src="{{url_for('static', filename='1.png')}}"></td>
					<td><img src="{{url_for('static', filename='2.png')}}"></td>
					<td><img src="{{url_for('static', filename='3.png')}}"></td>
					<td><img src="{{url_for('static', filename='4.png')}}"></td>
					<td><img src="{{url_for('static', filename='5.png')}}"></td>
				</tr>
				<tr>
					<td></td>
					<td align="center"><input type="radio" name="answer"></td>
					<td align="center"><input type="radio" name="answer"></td>
					<td align="center"><input type="radio" name="answer"></td>
					<td align="center"><input type="radio" name="answer"></td>
					<td align="center"><input type="radio" name="answer"></td>
				</tr>

				<tr>
					<td><strong>How is your appetite?</strong></td>
					<td align="center">Hungry</td>
					<td align="center">So-so</td>
					<td align="center">Didn't want to eat anything</td>
				</tr>
				<tr>
					<td></td>
					<td align="center"><input type="radio" name="hungry" value="1"></td>
					<td align="center"><input type="radio" name="so-so" value="1"></td>
					<td align="center"><input type="radio" name="don't want anything" value="1"></td>
				</tr>
				<tr>
					<td><strong>How is your motivation?</strong></td>
					<td align="center">Productive</td>
					<td align="center">Did a few things</td>
					<td align="center">Stayed in bed all day</td>
				</tr>
				<tr>
					<td></td>
					<td align="center"><input type="radio" name="high" value="productive"></td>
					<td align="center"><input type="radio" name="med" value="did a few things"></td>
					<td align="center"><input type="radio" name="low" value="stayed in bed"></td>
				</tr>
			</table>

			<input type="submit" class="btn btn-primary" name="submit" value="Log today's journal">
		</form>
	</div>
</body>
</html>