<!-- users tracking data buttons-->

<title> Profile </title>


<!-- credit for icons goes to https://dribbble.com/shots/2624121-Mood-Icons -->
<strong>Overall, how is your mood?</strong>
<!-- not sure if this form is correct-->
<form method="post">
<input type="radio" name="1" value="1">1
<input type="radio" name="2" value="2">2
<input type="radio" name="3" value="3">3
<input type="radio" name="4" value="4">4
<input type="radio" name="5" value="5">5
<br>

<strong>How is your appetite?</strong>
<input type="radio" name="hungry" value="1">3
<input type="radio" name="so-so" value="1">2
<input type="radio" name="don't want anything" value="1">1
<br>
<strong>How productive are you?</strong>
<input type="radio" name="high" value="productive">3
<input type="radio" name="med" value="did a few things">2
<input type="radio" name="low" value="stayed in bed">1
<br>
<input type="submit" name="submit" value="Log today's journal">
</form>


