<!DOCTYPE html>
<!-- users tracking data buttons-->

<title> Profile </title>


<!-- credit for icons goes to https://dribbble.com/shots/2624121-Mood-Icons -->
{% if changedVal %}
	<h2>Updated</h2>
{% endif %}
<strong>Overall, how is your mood?</strong>
<!-- not sure if this form is correct-->


<form method="post">
<input src="{{url_for('static', filename='1.png')}}" name="1">
<input src="{{url_for('static', filename='2.png')}}" type="radio" name="2" value="2">
<input src="{{url_for('static', filename='3.png')}}" type="radio" name="3" value="3">
<input src="{{url_for('static', filename='4.png')}}" type="radio" name="4" value="4">
<input src="{{url_for('static', filename='5.png')}}" type="radio" name="5" value="5">
<br>

<strong>How is your appetite?</strong>
<input type="radio" name="hungry" value="1">
<input type="radio" name="so-so" value="1">
<input type="radio" name="don't want anything" value="1">
<br>
<strong>How productive are you?</strong>
<input type="radio" name="high" value="productive">3
<input type="radio" name="med" value="did a few things">2
<input type="radio" name="low" value="stayed in bed">1
<br>
<input type="submit" name="submit" value="Log today's journal">
</form>

